################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SecureMicroservices/FileContentIndex
/.cr/personal/FavoritesList
